@import '../node_modules/bootstrap/dist/css/bootstrap.css';
$navColor: #008D9F;
$button-color: #FB6124;
$greyBtn: #E7E9EB;
$lightBlue: #47BBB6;
$orange: #F46B32;
$darkOrange: #CC4A1D;
$borderRadius: .2em;
$darkTeal: #015456;
$teal: #00C0B9;
 .box-shadow--2dp {
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.toggle{
	display:none;
}
body{
	h1,h2,h3, h4{
		font-family: 'Wendy One', sans-serif;
	}
	p{
		font-family: "Lato";
	} 
	margin: 0;
	h5{
		font-size: 20px;
	}
	h1{
		margin-left: 2.8em;
	}

}


#app{
	hr{
	border-top: 2px solid $navColor;
	margin-top: 0;
	margin-bottom: 0;
	}
}
.formBlock{
	padding: 3em;
}

.form-control{
	margin-bottom: 1em;
}
		
		
#dropdown{
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}
.modal-content{
		padding: 3em;
}
textarea{
	width: 100%;
}
nav{

	.navbar-default{
		background-color: $navColor;
		border-color: $navColor;
		margin-bottom:0;
		border-radius: 0;
		.navbar-collapse{
			border: none;
		}
			ul{
				margin: 7.5px -15px;
				list-style:none;
				li{
					    padding-top: 10px;
    					padding-bottom: 10px;
    					line-height: 20px;
    					a{
    						color: #fff;
    					}
				}
			}
		
			.navbar-brand{
				background-image: url("../images/youngstar-logo.png");
				background-repeat: no-repeat;
				padding: 0 85px;
				border-top: 10px solid $navColor;
				box-sizing:border-box;
				margin-left: 15px;
				height: 57px;
			}
	}
	.navbar-inner{
		background-color:#EBF6F7;
		list-style: none;
			ul{
				li{
					list-style:none;
				}
			}

	}
}
#navCollapse{
		background-color:$button-color;
		padding: 6px 5px;
		border-color: $navColor;
			&:hover{
					background-color: $button-color;
				}
			.icon-bar{
						background-color: #fff;
						width:25px;
						height:4px;
						border-radius:2px;

					}

	}
#orangeBtn{
	background-color: $orange;
	color: #fff;
	border-bottom: 2px solid $darkOrange;
	text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    border-top: 0 solid $orange;
    border-right: 0 solid $orange;
    border-left: 0 solid $orange;
    margin-top: 15px;
    margin-left: -10px;
    border-radius: $borderRadius;

}
#subjectBoxes{
	margin-top: 20px;
}
.subBox{
	margin-bottom: 15px;
	border: 3px solid $darkTeal;
	border-radius: $borderRadius;

		.row{
			background-color: $lightBlue;
			margin-top: 0;
			margin-left:0;
			margin-right: 0;
		}
		.subjectTitle{
			
			color: #fff;
			
		}
}

.avgGradeBox{
	border: 1px solid $darkTeal;
	margin:1em;
	border-radius: $borderRadius;
	.gradeTxt{
		font-size: 20px;
		padding:.5em;
	}
	.grade{
		background-color: #EEF9F8;
		font-size: 32px;
		font-weight: bold;
		padding: .2em .5em;
		color: $lightBlue;
	}

}
.viewAllAssign{
		background-color: $greyBtn;
		border-radius: $borderRadius;
		border-bottom: 2px solid #ccc;	
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 1px;
		 border-top: 0 solid $greyBtn;
    	border-right: 0 solid $greyBtn;
    	border-left: 0 solid $greyBtn;
        margin: 5px 14px;
        padding:.5em;
			a{
				color: #555;
			}

}
.assignmentDetails{
	.header{
	background-color: $teal;
	margin-bottom: 1em;
	border-radius: $borderRadius;
	border: 1px solid $darkTeal;
	color: #fff;

	}
	.detailsHead{
		text-align:center;
		font-size: 1.7em;
	}
	.detailsTxt{
		color: $lightBlue;
		font-size: 1.4em;
		text-align:center;
	}
	.detailsNotes{
		font-size:1.7em;
	}
	.detailsNotesBox {
		border: 1px solid $darkTeal;
		padding: 2em;
		margin: 1em 0;
		border-radius: $borderRadius;
	}


}

@media screen and (min-width:768px){
	body{
		h1{
			margin-left:1.1em;
		}
	}
	nav{
		.navbar {
			margin-bottom: 0;
		}
		.navbar-default{
				ul{
					li{
						padding-top: 6px;
						padding-bottom: 4px;
	    				a{
	    					color: #555;
	    					text-transform: uppercase;
						    font-size: 0.8em;
						    font-weight: bold;
						    letter-spacing: 1px;
						    	&:hover{
						    		text-decoration: none;

						    	}
	    				}
					}
				}
			.container-fluid {
				.navbar-brand {
				margin-left: 30px;
				padding-bottom: 3em;
				}
			}
			
			
		}
	
	}
		.boardLinks{
			display: inline;
			padding-right: 2em;
				a{
					color: $lightBlue;
						&:hover{
								text-decoration:none;
						    	color: $orange;
						}
						&:focus{
							text-decoration:none;
						    color: $orange;
						}
						&:active{
							text-decoration:none;
						    color: $orange;
						}
		
				}
			
		}
		.kBoard{
			position:absolute;
			bottom: 6px;
			left: 45px;
		}
		.kLinks{
			margin-left: 10em;
    		margin-top: 5px;
		}
		.mainNavLinks{
			position: absolute;
			right: 30px;
			margin-top: .5em;
			.greyBtn{
				display: inline;
				margin-right: .5em;

			}

		}
		.greyBtn{
				background-color: $greyBtn;
				padding: 0 20px;
				border-radius: $borderRadius;
				border-bottom: 2px solid #ccc;	
				color: #555;
	    		text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 1px;

		}
		
		
		.kHead{
			padding-top:1.7em;
		}
		.currentPts{
			background-color: #EEF9F8;
			padding: 1.7em 0.4em 0.35em 0.9em;
		}
		#redeemHolder{
			background-color: #C7EAE9;
		}
		.redeemBox{
			.thumbnail{
			border: 1px solid #7ACECA;
			margin-top: 20px;
			}
		}
		

}	

