@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@-ms-viewport{
  width: device-width;
}
@-webkit-keyframes grow {
    0% { font-size: 0px; }
    75% { font-size: 50px; }
    100% { font-size: 100px; }
}

$navColor: #008D9F;
$button-color: #FB6124;
$greyBtn: #E7E9EB;
$lightBlue: #47BBB6;
$orange: #F46B32;
$darkOrange: #CC4A1D;
$borderRadius: .2em;
$darkTeal: #015456;
$teal: #00C0B9;

.toggle{
	display:none;
}
.modal-content{
	padding: 1em 5em 11em 0em;
}
.blueHeader{
	text-align:center;
	background-color: $teal;
	color: #fff;
	padding: 1em;
	border-radius: $borderRadius;
}
.redeemSub{
	text-align: center;
}
.rating {
    position: absolute;
    top:80%; 
    left:50%;
    margin: -45px 0 0 -225px;
}

.rating .star {
    float: left;
    width: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 100px;
    -webkit-animation: grow .8s cubic-bezier(0,3,.3,0);
    text-shadow: 0 4px 4px rgba(0,0,0,.3);
    margin-bottom: 1em;
}
.rating .star:after {
    content: '\2605';
    color: gold;
}
.rating .star:nth-child(2) { -webkit-animation-duration: .9s; }
.rating .star:nth-child(3) { -webkit-animation-duration: 1s; }
.rating .star:nth-child(4) { -webkit-animation-duration: 1.1s; }
.rating .star:nth-child(5) { -webkit-animation-duration: 1.2s; }
.ui-effects-transfer{
	background-image: url("../images/yellow-star-md.png");
	background-size:contain;
	background-repeat: no-repeat;
	z-index: 1060;
}
.fireBall-effects-transfer{
	background-image: url("../images/fireBall.png");
	background-size:contain;
	background-repeat: no-repeat;
	z-index: 1060;
}
body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	h1,h2,h3, h4{
		font-family: 'Wendy One', sans-serif;
	}
	p{
		font-family: "Lato";
	} 
	margin: 0;
	h5{
		font-size: 20px;
	}
	h1{
		margin-left: 2.8em;
	}

}
.dashboardPg{
	margin-top:1em;
}
.disabled {
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

#app{
	flex: 1 0 auto;
	hr{
	border-top: 2px solid $navColor;
	margin-top: 0;
	margin-bottom: 0;
	}
}
.formBlock{
	padding: 3em;
	margin: 1em;
	border: 2px solid $darkTeal;
	border-radius: $borderRadius;

}


.form-control{
	margin-bottom: 1em;
}
		
		
#dropdown{
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

textarea{
	width: 100%;
}

nav{

	.navbar-default{
		background-color: $navColor;
		border-color: $navColor;
		margin-bottom:0;
		border-radius: 0;
		.navbar-collapse{
			border: none;
		}
			ul{
				margin: 7.5px -15px;
				list-style:none;
				li{
					    padding-top: 10px;
    					padding-bottom: 10px;
    					line-height: 20px;
    					a{
    						color: #fff;
    					}
				}
			}
		
			.navbar-brand{
				background-image: url("../images/youngstar-logo.png");
				background-repeat: no-repeat;
				padding: 0 85px;
				border-top: 10px solid $navColor;
				box-sizing:border-box;
				margin-left: 15px;
				height: 57px;
			}
	}
	.navbar-inner{
		background-color:#EBF6F7;
		list-style: none;
			ul{
				li{
					list-style:none;
				}
			}

	}
}
#navCollapse{
		background-color:$button-color;
		padding: 6px 5px;
		border-color: $navColor;
			&:hover{
					background-color: $button-color;
				}
			.icon-bar{
						background-color: #fff;
						width:25px;
						height:4px;
						border-radius:2px;

					}

	}
#orangeBtn{
	background-color: $orange;
	color: #fff;
	border-bottom: 2px solid $darkOrange;
	text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    border-top: 0 solid $orange;
    border-right: 0 solid $orange;
    border-left: 0 solid $orange;
    margin-top: 15px;
    margin-left: -10px;
    border-radius: $borderRadius;

}
#subjectBoxes{
	margin-top: 20px;
}
.subBox{
	margin-bottom: 15px;
	border: 3px solid $darkTeal;
	border-radius: $borderRadius;

		.row{
			background-color: $lightBlue;
			margin-top: 0;
			margin-left:0;
			margin-right: 0;
		}
		.subjectTitle{
			color: #fff;
			
		}
}

.avgGradeBox{
	border: 1px solid $darkTeal;
	margin:1em;
	border-radius: $borderRadius;
	.gradeTxt{
		font-size: 20px;
		padding:.5em;
	}
	.grade{
		background-color: #EEF9F8;
		font-size: 32px;
		font-weight: bold;
		padding: .2em .5em;
		color: $lightBlue;
	}

}
.viewAllAssign{
		background-color: $greyBtn;
		border-radius: $borderRadius;
		border-bottom: 2px solid #ccc;	
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 1px;
		 border-top: 0 solid $greyBtn;
    	border-right: 0 solid $greyBtn;
    	border-left: 0 solid $greyBtn;
        margin: 5px 14px;
        padding:.5em;
			a{
				color: #555;
			}
			&.new{
    		margin: 2em 1em;
    		padding: 3em;
    	}

}
.orangeBtn{
	background-color: $orange;
	color: #fff;
	border-bottom: 2px solid $darkOrange;
	text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    border-top: 0 solid $orange;
    border-right: 0 solid $orange;
    border-left: 0 solid $orange;
    border-radius: $borderRadius;
    	&.add{
    		padding: 1em;
    		margin-top: 15px;
    		margin-left: -10px;
    	}
    	a{
    		color: #fff;
    	}
    	&.dash{
    		margin: 1em;
    		padding: 1em;
    	}
    	
}
.closeModal{
		float: right;
		background-color: $greyBtn;
		border-radius: $borderRadius;
		border-bottom: 2px solid #ccc;	
		text-transform: uppercase;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 1px;
		border-top: 0 solid $greyBtn;
    	border-right: 0 solid $greyBtn;
    	border-left: 0 solid $greyBtn;
}
.assignmentDetails{
	.header{
	background-color: $teal;
	margin-bottom: 1em;
	border-radius: $borderRadius;
	border: 1px solid $darkTeal;
	color: #fff;

	}
	.detailsHead{
		text-align:center;
		font-size: 1.7em;
	}
	.detailsTxt{
		color: $lightBlue;
		font-size: 1.4em;
		text-align:center;
	}
	.detailsNotes{
		font-size:1.7em;
	}
	.detailsNotesBox {
		border: 1px solid $darkTeal;
		padding: 2em;
		margin: 1em 0;
		border-radius: $borderRadius;
	}


}


footer{
	background-color: $navColor;
	padding: .75em;
	.footerTxt{
		color: #fff;
		font-weight: lighter;
	}
}
@media screen and (min-width:768px){
	body{
		h1{
			margin-left:1.1em;
		}
	}
	.modal-content{
	padding: 1em 3em 11em 1em;
	}	

	nav{
		.navbar {
			margin-bottom: 0;
		}
		.navbar-default{
				ul{
					li{
						padding-top: 6px;
						padding-bottom: 4px;
	    				a{
	    					text-transform: uppercase;
						    font-size: 0.8em;
						    font-weight: bold;
						    letter-spacing: 1px;
						    	&:hover{
						    		text-decoration: none;

						    	}
	    				}
					}
				}
			.container-fluid {
				.navbar-brand {
				margin-left: 30px;
				padding-bottom: 3em;
				}
			}
			
			
		}
	
	}
		.boardLinks{
			display: inline;
			padding-right: 2em;
				a{
					color: $lightBlue;
						&:hover{
								text-decoration:none;
						    	color: $orange;
						}
						&:focus{
							text-decoration:none;
						    color: $orange;
						}
						&:active{
							text-decoration:none;
						    color: $orange;
						}
		
				}
			
		}
		.kBoard{
			position:absolute;
			bottom: 6px;
			left: 45px;
		}
		.kLinks{
			margin-left: 10em;
    		margin-top: 5px;
		}
		.mainNavLinks{
			position: absolute;
			right: 30px;
			margin-top: .5em;
			.greyBtn{
				display: inline;
				margin-right: .5em;

			}

		}
		.greyBtn{
				background-color: $greyBtn;
				padding: 0 20px;
				border-radius: $borderRadius;
				border-bottom: 2px solid #ccc;	
					a{
						color: #555!important;
					}
	    		

		}
		.orangeNav{
			background-color: $orange;
			padding: 0 20px;
			border-radius: $borderRadius;
			border-bottom: 2px solid $darkOrange;
			display: inline;	
				a{
					color: #fff;
				}
		}
		
		
		.kHead{
			padding-top:1.7em;
		}
		.currentPts{
			background-color: #EEF9F8;
			padding: 1.7em 0.4em 0.35em 0.9em;
		}
		#redeemHolder{
			background-color: #C7EAE9;
		}
		.redeemBox{
			.thumbnail{
			border: 1px solid #7ACECA;
			margin-top: 20px;
			}
		}

}	

