@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
.box-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--3dp {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }

.box-shadow--4dp {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--6dp {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2); }

.box-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); }

.box-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }

body {
  margin: 0; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Wendy One', sans-serif; }
  body p {
    font-family: "Lato"; }
  body h5 {
    font-size: 20px; }

#app hr {
  border-top: 2px solid #008D9F;
  margin-top: 0;
  margin-bottom: 0; }

nav .navbar-default {
  background-color: #008D9F;
  border-color: #008D9F;
  margin-bottom: 0;
  border-radius: 0; }
  nav .navbar-default .navbar-collapse {
    border: none; }
  nav .navbar-default ul {
    margin: 7.5px -15px;
    list-style: none; }
    nav .navbar-default ul li {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px; }
      nav .navbar-default ul li a {
        color: #fff; }
  nav .navbar-default .navbar-brand {
    background-image: url("../images/youngstar-logo.png");
    background-repeat: no-repeat;
    padding: 0 85px;
    border-top: 10px solid #008D9F;
    box-sizing: border-box;
    margin-left: 15px;
    height: 57px; }

nav .navbar-inner {
  background-color: #EBF6F7;
  list-style: none; }
  nav .navbar-inner ul li {
    list-style: none; }

#navCollapse {
  background-color: #FB6124;
  padding: 6px 5px;
  border-color: #008D9F; }
  #navCollapse:hover {
    background-color: #FB6124; }
  #navCollapse .icon-bar {
    background-color: #fff;
    width: 25px;
    height: 4px;
    border-radius: 2px; }

#orangeBtn {
  background-color: #F46B32;
  color: #fff;
  border-bottom: 2px solid #CC4A1D;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  border-top: 0 solid #F46B32;
  border-right: 0 solid #F46B32;
  border-left: 0 solid #F46B32;
  margin-top: 15px;
  margin-left: -10px;
  border-radius: 0.2em; }

#subjectBoxes {
  margin-top: 20px; }

.subBox {
  margin-bottom: 15px;
  border: 3px solid #015456;
  border-radius: 0.2em; }
  .subBox .row {
    background-color: #47BBB6;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0; }
  .subBox .subjectTitle {
    color: #fff; }

.avgGradeBox {
  border: 1px solid #015456;
  margin: 1em;
  border-radius: 0.2em; }
  .avgGradeBox .gradeTxt {
    font-size: 20px;
    padding: .5em; }
  .avgGradeBox .grade {
    background-color: #EEF9F8;
    font-size: 32px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    color: #47BBB6; }

.viewAllAssign {
  background-color: #E7E9EB;
  border-radius: 0.2em;
  border-bottom: 2px solid #ccc;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 0 solid #E7E9EB;
  border-right: 0 solid #E7E9EB;
  border-left: 0 solid #E7E9EB;
  margin: 5px 14px;
  padding: .5em; }
  .viewAllAssign a {
    color: #555; }

@media screen and (min-width: 768px) {
  nav .navbar {
    margin-bottom: 0; }
  nav .navbar-default ul li {
    padding-top: 6px;
    padding-bottom: 4px; }
    nav .navbar-default ul li a {
      color: #555;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bold;
      letter-spacing: 1px; }
      nav .navbar-default ul li a:hover {
        text-decoration: none; }
  nav .navbar-default .container-fluid .navbar-brand {
    margin-left: 30px;
    padding-bottom: 3em; }
  .boardLinks {
    display: inline;
    padding-right: 2em; }
    .boardLinks a {
      color: #47BBB6; }
      .boardLinks a:hover {
        text-decoration: none;
        color: #F46B32; }
      .boardLinks a:focus {
        text-decoration: none;
        color: #F46B32; }
      .boardLinks a:active {
        text-decoration: none;
        color: #F46B32; }
  .kBoard {
    position: absolute;
    bottom: 6px;
    left: 45px; }
  .kLinks {
    margin-left: 10em;
    margin-top: 5px; }
  .mainNavLinks {
    position: absolute;
    right: 30px; }
  .greyBtn {
    background-color: #E7E9EB;
    padding: 0 20px;
    border-radius: 0.2em;
    border-bottom: 2px solid #ccc;
    color: #555;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px; }
  .formBlock {
    padding: 3em; }
  .form-control {
    margin-bottom: 1em; }
  #dropdown {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0; }
  .kHead {
    padding-top: 1.7em; }
  .currentPts {
    background-color: #EEF9F8;
    padding: 1.7em 0.4em 0.35em 0.9em; }
  #redeemHolder {
    background-color: #C7EAE9; }
  .redeemBox .thumbnail {
    border: 1px solid #7ACECA;
    margin-top: 20px; }
  .modal-content {
    padding: 3em; }
  textarea {
    width: 100%; } }
